.login-view {
	padding: 10px;
	min-width: 250px;

	& > h1 {
		padding: 0px;
		margin: 0px;
		// width: 100%;
		height: 35px;
		background: url('./../img/logo_napis.png') center no-repeat;
		background-size: contain;
		background-position: left;
	}

	.input-fields {
		margin: 10px 0px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-row-gap: 10px;

		
	}

	.info {
		margin-top: 10px;
		font-size: 0.7em;
		color: #B0BEC5;

		a {
			color: #80CBC4;
			// font-weight: bold;
		}
	}

	.request-status {
		margin: 20px 5px;
	}
}