.topics-container {
	min-width: 400px;
	max-width: 800px;

	max-height: 80vh;
	overflow-y: auto;
	border-color: #607D8B;//455A64
	// background: #1d1f25;

	article {
		// background-color: #546E7A;//455A64
		background: linear-gradient(180deg, #4d656f 0%, #455A64 100%);
		// background: linear-gradient(180deg, #23252c 0%, #1d1f25 100%);
		// background: #455A64;

		padding: 15px 10px;

		display: grid;
		grid-template-areas: "separator title author" "content content content";
		// align-items: center;
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: fit-content(100%) auto;

		.title {
			grid-area: title;
			justify-self: left;
			font-weight: bold;
			padding-bottom: 8px;
		}

		.author {
			grid-area: author;
			justify-self: right;
			color: #B0BEC5;
			font-size: 0.8em;
		}

		.content {
			grid-area: content;
			text-align: justify;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #607D8B;
		}
	}
}